.Header {
  background-color: rgba(177, 177, 177, 0.5);
}
@media (max-width: 420px) {
  .header-nav{
    justify-content: center;
  }
  .create-btn{
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
}
